<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" width="100%">
        <div>Lugar para barra de búsqueda</div>
        <p>Comprá en cuotas y sin tarjetas de crédito</p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <ul>
                <strong><li>
                    <p>Basado en tu última visita</p>
                </li></strong>
            </ul>
            <div>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </div>
            <div>
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </div>
            <div>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </div>
            <div>
                <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTV Samsung">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTV Samsung</p>
            </div>
        </section>
        <section>
            <ul>
                <strong><li>
                    <p>Ofertas</p>
                </li></strong>
            </ul>
            <div>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </div>
            <div>
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </div>
            <div>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </div>
            <div>
                <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTV Samsung">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTV Samsung</p>
            </div>
        </section>

    </main>
    <footer>
        <div>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
            <p>Sólo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <p><strong>Seguridad, de principio a fin</strong></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    
</body>
</html>