<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <title>Mercado Liebre - Creá tu cuenta</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" width="100%" id="logo">
            <form action="#" method="GET" id="header-search-form">
                <input type="search" placeholder="Buscar producto, marca, etc">
                <button type="submit"><i class="fas fa-search search-bar"></i></button>
            </form>
            <p class="header-text"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de crédito</p>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        <nav class="main-header-bottom-bar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/registration">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="registration-form-box">
            <form action="/registration" method="POST" class="registration-form">
                <div class="registration-box">
                    <label for="names" class="registration-box-label">Nombre y Apellido:</label>
                    <input type="text" id="names" name="names" class="registration-box-input">
                </div>
                <div class="registration-box">
                    <label for="user" class="registration-box-label">Nombre de usuario:</label>
                    <input type="text" id="user" name="user" class="registration-box-input">
                </div>
                <div class="registration-box">
                    <label for="dob" class="registration-box-label">Fecha de nacimiento:</label>
                    <input type="date" id="dob" name="dob" value="2003-01-01">
                </div>
                <div class="registration-box">
                    <label for="address" class="registration-box-label">Domicilio:</label>
                    <input type="text" id="address" name="address" class="registration-box-input">
                </div>
                <div class="registration-box">
                    <label for="buy-sell" class="registration-box-label">¿Qué querés hacer?:</label>
                    <input type="radio" name="buy-sell" id="buy" class="buy-sell"><label for="buy" class="buy-sell">   Comprar</label>
                    <input type="radio" name="buy-sell" id="sell" class="buy-sell"><label for="sell" class="buy-sell">   Vender</label>
                </div>
                <div class="registration-box">
                    <label for="interested-in" class="registration-box-label">Categorías de interés (Podés elegir más de una):</label>
                    <ul>
                        <li><input type="checkbox" id="interested-in" name="interested-in" value="electronics">  Electro</li>
                        <li><input type="checkbox" id="interested-in" name="interested-in" value="fashion">  Moda</li>
                        <li><input type="checkbox" id="interested-in" name="interested-in" value="home">  Hogar</li>
                        <li><input type="checkbox" id="interested-in" name="interested-in" value="toys">  Juguetería</li>
                        <li><input type="checkbox" id="interested-in" name="interested-in" value="wellness">  Vida sana</li>
                    </ul>
                </div>
                <div class="registration-box">
                    <label for="profile-pic" id="profile-pic-label" class="registration-box-label">Foto de usuario:</label>
                    <input type="file" accept="image/*" id="profile-pic" name="profile-pic">
                </div>
                <div class="registration-box">
                    <label for="password" class="registration-box-label">Contraseña:</label>
                    <input type="password" name="password" id="password" class="registration-box-input">
                </div>
                <div class="registration-box">
                    <label for="confirm-password" class="registration-box-label">Confirmá tu contraseña:</label>
                    <input type="password" name="confirm-password" id="confirm-password" class="registration-box-input">
                </div>
                <div class="registration-box">
                    <button type="submit" id="create-account-button"><a href="/">Crear cuenta</a></button>
                    <button type="reset" class="reset-button">Borrar todo</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-item-box">
    
            <div class="footer-item">
                <i class="fas fa-credit-card icon-footer"></i>
                <p class="text-titular-footer">Pagá con tarjeta o en efectivo</p>
                <p class="text-cuerpo">Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta o efectivo en puntos de
                    pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-item">
                <i class="fas fa-gift icon-footer"></i>
                <p class="text-titular-footer">Envío gratis desde $ 2.500</p>
                <p class="text-cuerpo">Sólo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-item">
                <i class="fas fa-user-shield icon-footer"></i>
                <p class="text-titular-footer">Seguridad, de principio a fin</p>
                <p class="text-cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div>
            <p id="text-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    
</body>
</html>